<h1>Contract</h1>

<label>Account password:
    <input type="password" ng-model="password"/>
</label>
<button ng-click="$ctrl.unlockAccount(password); password=''; ">Unlock account</button>
<hr>

<label>volumeGB:
    <input type="number" ng-model="cbo.volumeGB"/>
</label>
<label>pricePerGB:
    <input type="number" ng-model="cbo.pricePerGB"/>
</label>
<button ng-click="$ctrl.createBuyOrder(cbo);">createBuyOrder</button>
<hr>

<label>Get buy order by index:
    <input type="number" ng-model="orderIndex" min="0">
</label>

<button ng-click="$ctrl.getBuyOrder(orderIndex);">getBuyOrder</button>
<ul>
    <li>id: {{$ctrl.gboResult.id}}</li>
    <li>DO: {{$ctrl.gboResult.DO}}</li>
    <li>volumeGB: {{$ctrl.gboResult.volumeGB}}</li>
    <li>pricePerGB: {{$ctrl.gboResult.pricePerGB}}</li>
    <li>weiInitialAmount: {{$ctrl.gboResult.weiInitialAmount}}</li>
</ul>
<hr>



